extends ../base/layout.pug

block title 
  title Cart

block content 
  -const cartCrumb = [{"content": "Trang chủ", "href": "#"},{"content": "Sản phẩm", "href": "#"},{"content": "Giao hàng", "href": "#"}]
  -const cartHeader = ["ẢNH", "TÊN SẢN PHẨM", "GIÁ", "SỐ LƯỢNG","TỔNG SỐ", "XÓA"]
  -const cartData = [{"imgSrc": "./assets/images/1.jpg","name": "RƯỢU VANG ĐỎ", "price": 350000, "quantity": 1, "total": 350000,"icon": "fa-solid fa-trash"},{"imgSrc": "./assets/images/1.jpg","name": "RƯỢU VANG ĐỎ", "price": 350000, "quantity": 1, "total": 350000,"icon": "fa-solid fa-trash"},{"imgSrc": "./assets/images/1.jpg","name": "RƯỢU VANG ĐỎ", "price": 350000, "quantity": 1, "total": 350000,"icon": "fa-solid fa-trash"}]

  section(class="cart")
    .container
      +breadcrumb(cartCrumb)
      h4(class="heading-titary heading-decoration heading-decoration--arrow") GIỎ HÀNG
      div(class="cart-list")
        +table({"headers": cartHeader})
          block tableBody 
            for data in cartData 
              tr 
                each value,key in data
                  if key == "price" || key == "total"
                    th(class="hightlight-column") #{value}     
                  else if key == "icon"
                    th 
                      i(class=`${value}`)
                  else if key == "imgSrc"
                    th 
                      img(src=`${value}`)    
                  else 
                    th #{value}
      div(class="cart-buttons")
        +button({"title": "TIẾP TỤC MUA HÀNG", "size": "4xl","isLink": true,"href": "index.html"})
        +button({"title": "XÓA", "size": "lg","type": "submit"})
        +button({"title": "CẬP NHẬT", "size": "xxl","type": "submit"})
