extends ../base/layout.pug

block title 
  title Cart

block content 
  -const cartCrumb = [{"content": "Trang chủ", "href": "#"},{"content": "Sản phẩm", "href": "#"},{"content": "Giao hàng", "href": "#"}]
  -const cartHeader = ["ẢNH", "TÊN SẢN PHẨM", "GIÁ", "SỐ LƯỢNG","TỔNG SỐ", "XÓA"]
  section(class="cart")
    .container
      +breadcrumb(cartCrumb)
      h4(class="heading-titary heading-decoration heading-decoration--arrow") GIỎ HÀNG
      div(class="cart-list")
        +table({"headers": cartHeader})

      div(class="cart-buttons")
        +button({"title": "TIẾP TỤC MUA HÀNG", "size": "4xl","isLink": true,"href": "index.html"})
        +button({"title": "XÓA", "size": "lg","type": "submit"})
        +button({"title": "CẬP NHẬT", "size": "xxl","type": "submit"})
