*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 75%;

  @include respond-to(extralarge-and-down) {
    font-size: 85%;
  }

  @include respond-to(largedesktop-and-down) {
    font-size: 70.25%;
  }

  @include respond-to(desktop-and-down) {
    font-size: 68.5%;
  }
}

body {
  @include respond-to(desktop-and-down) {
    padding: 0;
  }
}

.section {
  width: 100vw;
}

::-webkit-scrollbar {
  border-radius: 12px;
  width: 10px;
}

::-webkit-scrollbar-track {
  background: $color-grey-light-1;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: $color-grey-dark-2;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: $color-grey-dark-3;
}

p,
ul,
ol {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 80%;
  margin: 1rem auto;

  @include respond-to(desktop-and-down) {
    width: 100%;
    max-width: 768px;
    margin: 1rem auto;
  }
}
