header {
  position: relative;

  .nav {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(#cdcdcd, 0.3);
    height: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @include respond-to(largedesktop-and-down) {
      grid-template-columns: 3fr 2fr;
    }

    @include respond-to(desktop-and-down) {
      grid-template-columns: 2fr 1fr;
    }

    .nav-list {
      @include flex($justify: center, $align: center, $gap: 2rem);
      list-style: none;

      @include respond-to(largedesktop-and-down) {
        gap: 1rem;
      }

      @include respond-to(desktop-and-down) {
        gap: 0.7rem;
      }
    }
    .nav-link {
      color: $color-grey-light-1;
      text-decoration: none;

      &--active {
        color: $color-secondary-light;
        text-decoration: underline;
      }
    }

    .nav-search {
      @include flex($align: center, $justify: center);

      i {
        color: $color-grey-light-1;
      }
    }
  }

  .hero {
    width: 100%;
  }

  .menu {
    @include flex($justify: center, $align: center, $gap: 4rem);
    height: 15rem;
    background-color: $color-black;

    @include respond-to(largedesktop-and-down) {
      gap: 3rem;
    }

    @include respond-to(desktop-and-down) {
      gap: 2rem;
    }

    &__img {
      height: 100%;
    }

    &-item {
      list-style: none;
    }

    &-link {
      text-decoration: none;
      font-size: 1.4rem;
      color: $color-grey-light-1;

      &--active {
        color: $color-secondary-light;
      }
    }
  }
}
