.button {
  position: relative;
  border: none;
  height: $button-height;
  width: $button-width;
  color: $color-white;
  background-color: $color-black;
  @include flex($justify: center, $align: center);

  &--arrow {
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 100%;
      transform: translate(0, -50%);
      border-top: calc(#{$button-width} / 4) solid transparent;
      border-left: calc(#{$button-width} / 2) solid $color-black;
      border-bottom: calc(#{$button-width} / 4) solid transparent;
    }
  }

  &--nonebg {
    background-color: inherit;
    padding: 0;
    text-decoration: underline;
    color: $color-black;
    font-style: italic;
  }

  &--lg {
    width: calc(#{$button-width} * 1.5);
    height: calc(#{$button-height} * 1.2);
  }

  &--xxl {
    height: calc(#{$button-height} * 1.2);
    width: calc(#{$button-width} * 2);
  }

  &--4xl {
    width: calc(#{$button-width} * 4);
  }

  &--white {
    background-color: inherit;
    color: $color-black;
  }
}
