.button {
  position: relative;
  border: none;
  height: $button-height;
  width: $button-width;
  color: $color-white;
  background-color: $color-black;
  @include flex($justify: center, $align: center);

  &:hover {
    background-color: $color-secondary-light;
    color: $color-black;
  }

  &--arrow {
    &:hover {
      &::after {
        border-left: calc(#{$button-width} / 2) solid $color-secondary-light;
      }
    }
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 100%;
      transform: translate(0, -50%);
      border-top: calc(#{$button-width} / 4) solid transparent;
      border-left: calc(#{$button-width} / 2) solid $color-black;
      border-bottom: calc(#{$button-width} / 4) solid transparent;

      @include respond-to(desktop-and-down) {
        display: none;
      }
    }
  }

  &--nonebg {
    background-color: inherit;
    padding: 0;
    text-decoration: underline;
    color: $color-black;
    font-style: italic;
  }

  &--lg {
    width: calc(#{$button-width} * 1.5);
  }

  &--xxl {
    width: calc(#{$button-width} * 2);
  }

  &--4xl {
    width: calc(#{$button-width} * 4);
  }

  &--white {
    background-color: inherit;
    color: $color-black;
  }

  &--grey {
    background-color: $color-grey-light-2;
    color: $color-black;
  }
}
