.carousel-indicators [data-bs-target] {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  border: 1px solid $color-grey-dark-2;
  border-radius: 20px;
  margin: 2px;
  position: relative;
  top: 40px;

  &.active {
    background: $color-black;
  }
}
