.input {
  height: calc(#{$button-height} - 2px);
  margin: $my-4;
  border: 1px solid $color-grey-dark;
  font-style: italic;

  &--nonebg {
    position: relative;
    background-color: inherit;
    padding-left: 1rem;
    border: none;
    color: $color-white;

    &::placeholder {
      color: $color-white;
    }
  }
}
