.input {
  height: calc(#{$button-height} - 2px);
  margin: $my-4;
  border: 1px solid $color-grey-dark;
  font-style: italic;

  &--nonebg {
    position: relative;
    background-color: inherit;
    padding-left: 1rem;
    border: none;
    color: $color-white;

    &::placeholder {
      color: $color-white;
    }
  }
}

.form-input {
  margin: 1.5rem 0;

  label {
    @include grid($column: 12rem 1fr);
  }

  input {
    width: 90%;
    padding-left: 1rem;
    height: 2rem;
    border: 1px solid rgba($color-grey-dark-2, 0.3);
  }

  textarea {
    width: 90%;
    padding-left: 1rem;
    border: 1px solid rgba($color-grey-dark-2, 0.3);
  }
}

.input-checkbox {
  @include flex($justify: flex-start, $align: center, $gap: 1rem);
  color: $color-grey-dark-2;
}
