.slide-button {
  border: none;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background-color: inherit;
  transition: all 0.2s;

  i {
    font-size: 2rem;
    color: $color-grey-dark-2;

    &:hover {
      color: $color-secondary-light;
    }
  }

  &--up {
    @include ab-translateMiddle(5%, 50%);
    position: absolute;
  }

  &--down {
    @include ab-translateMiddle(95%, 50%);
    position: absolute;
  }

  &--right {
    @include ab-translateMiddle(50%, 100%);
    position: absolute;

    @include respond-to(tablet-and-down) {
      display: none;
    }
  }

  &--left {
    @include ab-translateMiddle(50%, 0%);
    position: absolute;

    @include respond-to(tablet-and-down) {
      display: none;
    }
  }
}
