.nav-pills {
  @include flex($justify: center, $align: center);

  .tab-link.active {
    background-color: $color-secondary-light;
  }

  .tab-link {
    color: $color-black;
    background-color: inherit;
    border: none;
    display: block;
    padding: 0.5rem 2rem;
    text-decoration: none;
    transition: all 0.2s;
  }
}
