.blog-indetail {
  .blog-container {
    @include grid($column: 1fr 3fr, $col-gap: 1rem);
    padding-top: 2rem;
  }

  .blog-sidebar {
    @include flex($justify: flex-start, $direction: column, $align: flex-start, $gap: 2rem);

    .side-blog {
      @include flex($justify: flex-start, $align: flex-start, $gap: 1rem);
      margin: 1rem 0;

      img {
        height: 10rem;
      }

      &__title {
        p {
          font-weight: 400;
          color: $color-black;
          margin-bottom: 1rem;
        }

        span,
        i {
          color: $color-grey-dark;
          margin: 0 0.5rem;
        }
      }
    }

    .blog-tags {
      ul {
        @include flex($justify: flex-start, $align: center, $gap: 1rem);
        list-style: none;

        a {
          color: $color-black;
        }
      }

      .tag {
        padding: 0.5rem 0.8rem;
        background-color: $color-grey-light-2;
        border-radius: 0.5rem;
        cursor: pointer;

        &:hover {
          background-color: $color-secondary-light;
        }
      }
    }

    .blog-video {
      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }

  .blog-main {
    @include flex($justify: flex-start, $direction: column, $align: stretch, $gap: 2rem);

    img {
      width: 100%;
      object-fit: cover;
    }

    .blog-comments {
      text-align: left;

      .blog-comment {
        margin-bottom: 1.5rem;

        &__header {
          @include flex($justify: space-between, $align: center);
          background-color: $color-grey-light-2;
          padding: 1rem;
          border-radius: 0.5rem;
        }

        &__detail {
          @include flex($justify: flex-start, $align: center, $gap: 4rem);
        }

        &__action {
          font-style: italic;
          text-decoration: underline;
        }

        &__text {
          padding: 1rem;
        }
      }

      &__pagination {
        @include flex($justify: flex-end, $align: center);
      }
    }
  }
}
