.login {
  width: 60%;
  margin: 0 auto;

  @include respond-to(tablet-and-down) {
    width: 90%;
  }

  .login-head {
    @include flex($justify: space-between, $align: flex-start);
  }

  .login-form {
    border: 1px solid rgba($color-grey-dark-2, 0.3);
    margin-top: 4rem;
  }
}
