mixin carousel-indicator(idTarget)
  ol(class="carousel-indicators")
    li(data-target=`#${idTarget}` data-slide-to="1" class="active")
    li(data-target=`#${idTarget}` data-slide-to="2")
    li(data-target=`#${idTarget}` data-slide-to="3")
