mixin product-action 
  div(class="product-action") 
    div(class="product-action__item")
      i(class="fa-solid fa-heart")
      p Yêu thích
    div(class="product-action__item")
      i(class="fa-solid fa-code-compare")
      p So sánh
    div(class="product-action__item")
    i(class="fa-solid fa-link")
