mixin nextButton(props) 
  button(class=`slide-button slide-button--${props.direction}`)
    i(class=`fa-solid fa-arrow-${props.direction}`)      

mixin prevButton(props) 
  button(class=`slide-button slide-button--${props.direction}`)
    i(class=`fa-solid fa-arrow-${props.direction}`)
